@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    padding-top: 50px;

}

.izq{
    padding-top: 50px;
    max-width: 50%;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}



.der{
    max-width: 50%;
    background-image: url(img1.jpg);
    
}